<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Mendoza-Toledo-y-Asociados-1381805795169937" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Instagram -->
      <!-- <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/come.mexico/" role="button"
        ><i class="fab fa-instagram"></i
      ></a> -->

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>© 2024 Copyright | Mendoza Toledo y asociados </p>
    <p>Teléfono (57940696) | E-mail (contacto)</p>
  </div>
  <!-- Copyright -->
</footer>
