
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#">
          <img
            src="./../../assets/logos/arquis.png"
            height="50"
            alt=""
            loading="lazy"
          />
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-controls="#picker-editor" [routerLink]="['']">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-controls="#picker-editor" (click)="scrollToElement(quienesSomos)">
              ¿Quiénes somos?
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-controls="#picker-editor" (click)="scrollToElement(servicios)">
              Servicios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-controls="#picker-editor" (click)="scrollToElement(contacto)">
              Contacto
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a
          class="btn text-white btn-floating"
          href="https://www.facebook.com/Mendoza-Toledo-y-Asociados-1381805795169937"
          role="button"
          style="background-color: #3b5998;"
          mdbRipple
          >
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
  </nav>
    <div class="banner">
      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item>
          <img
            src="./../../assets/banner/asesoria.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Asesoría</h5>
            <p>Te ayudamos a crecer tu empresa con los profesionistas más preparados en los ámbitos jurídico, contable, fiscal y arquitectónico.</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="./../../assets/banner/slide-11.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Soluciones</h5>
            <p>Atendemos los problemas de tu empresa para apoyarla en su crecimiento.</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="./../../assets/banner/slide-3_0.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Confianza</h5>
            <p>Somos un corporativo mexicano con 13 años de experiencia, nuestro compromiso es superar expectativas</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  
    <!-- Container for demo purpose -->
<div class="container my-5 py-5" >

    <!-- Section: Design Block -->
    <section class="" #quienesSomos>
      <style>
        @media (min-width: 992px) {
          #cta-img-nml-50 {
            margin-left: 50px;
          }
        }
      </style>
  
      <div class="row gx-0">
        <div class="col-lg-5 mb-4 mb-md-0">
          <div class="d-flex py-md-5">
            <img
                 src="./../../assets/fotos/1013-2-Vertical.jpg"
                 class="w-100 rounded-5 shadow-3-strong"
                 id="cta-img-nml-50"
                 style="z-index: 10"
                 alt=""
                 />
          </div>
        </div>
  
        <div class="col-lg-7 mb-4 mb-md-0">
          <div
               class="back-arquitectura h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center"
               >
            <div class="ps-lg-5">
              <h1 class="fw-bold mb-4">Arquitectura</h1>
              <p class="">
                Mendoza Toledo y Asociados, S.C. Es una empresa 100% Mexicana, cuenta con más de 13 años de experiencia exitosa en el mercado; siendo uno de sus principales objetivos mantener una alta calidad en los servicios prestados con precios accesibles que ayuden a sus clientes a lograr sus objetivos planteados.
              </p>
  
              <h2 class="fw-bold mb-4">Misión</h2>
              <p>
                Ser el asesor de negocios más buscado por la excelencia, innovación, adaptabilidad, rapidez y asertividad  en los servicios prestados, ser calificado por nuestra calidez humana para así contribuir a nuestros clientes y comunidad; en el diseño, construcción y mantenimiento.
              </p>
  
              <h2 class="fw-bold mb-4">Visión</h2>
              <p>
                Somos asesores integrales en diseños, construcción y mantenimiento, dedicados a superar las expectativas de nuestros clientes; coadyuvamos al crecimiento de estos, abasteciéndolos de soluciones eficientes y eficaces para cualquier asunto que involucre nuestro campo de acción.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->
<!-- Container for demo purpose only -->

 <div class="container my-5 py-5" #servicios >
    <section class="text-center">

      <h3 class="mb-5">Servicios</h3>
    
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
            style="width: 80px; height: 80px;">
            <i class="fas fa-drafting-compass"></i>
          </div>
          <p class="h5">Servicios</p>
          <hr class="hr" />
            <p>
              Proyectos Arquitectónicos, Urbanismo, Estudios de Topografía, Estructuras, Obras Hidráulicas y Sanitarias, Instalaciones Eléctricas, Instalaciones de Aire Acondicionado.
            </p>
        </div>
  
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
            style="width: 80px; height: 80px;">
            <i class="fas fa-hard-hat"></i>
          </div>
          <p class="h5">Obras</p>
          <hr class="hr" />
          <p>Obras hidráulicas, Sanitarias, Señalización, Estructuras de concreto, Estructuras Metálicas, Instalaciones Hidráulicas.</p>
        </div>
  
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
            style="width: 80px; height: 80px;">
            <i class="fas fa-paint-roller"></i>
          </div>
          <p class="h5">Conservación y mantenimiento</p>
          <hr class="hr" />
          <p>Obra Civil, Instalaciones Hidráulicas y Sanitarias, Instalaciones Eléctricas, Instalaciones de Aire Acondicionado.</p>
        </div>
      </div>
  
    </section>
  </div>
<div class="gris">
  <!-- Container for demo purpose only -->
  <div class="container my-5 py-5" >
    <h3 class="text-center mb-5 pb-3">Proyectos</h3>
    <mdb-lightbox class="lightbox">
      <div class="row">
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/01.jpg"
            [img]="'./../../assets/arquitectura/galeria/01.jpg'"
            alt="01"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/02.jpg"
            [img]="'./../../assets/arquitectura/galeria/02.jpg'"
            alt="2"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/03.jpg"
            [img]="'./../../assets/arquitectura/galeria/03.jpg'"
            alt="3"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/04.jpg"
            [img]="'./../../assets/arquitectura/galeria/04.jpg'"
            alt="4"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/05.jpg"
            [img]="'./../../assets/arquitectura/galeria/05.jpg'"
            alt="5"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/06.jpg"
            [img]="'./../../assets/arquitectura/galeria/06.jpg'"
            alt="6"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/07.jpg"
            [img]="'./../../assets/arquitectura/galeria/07.jpg'"
            alt="7"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/08.jpg"
            [img]="'./../../assets/arquitectura/galeria/08.jpg'"
            alt="8"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/09.jpg"
            [img]="'./../../assets/arquitectura/galeria/09.jpg'"
            alt="9"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/10.jpg"
            [img]="'./../../assets/arquitectura/galeria/10.jpg'"
            alt="10"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/11.jpg"
            [img]="'./../../assets/arquitectura/galeria/11.jpg'"
            alt="11"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/12.jpg"
            [img]="'./../../assets/arquitectura/galeria/12.jpg'"
            alt="12"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/13.jpg"
            [img]="'./../../assets/arquitectura/galeria/13.jpg'"
            alt="13"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/14.jpg"
            [img]="'./../../assets/arquitectura/galeria/14.jpg'"
            alt="14"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/15.jpg"
            [img]="'./../../assets/arquitectura/galeria/15.jpg'"
            alt="15"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/16.jpg"
            [img]="'./../../assets/arquitectura/galeria/16.jpg'"
            alt="16"
            class="w-100"
          />
        </div>
        <div class="col-lg-2">
          <img
            mdbLightboxItem
            src="./../../assets/arquitectura/galeria/tumbs/17.jpg"
            [img]="'./../../assets/arquitectura/galeria/17.jpg'"
            alt="17"
            class="w-100"
          />
        </div>
      </div>
    </mdb-lightbox>
  </div>
</div>
  <!-- Container for demo purpose only -->
<div class="container my-5 py-5" #contacto>

    <!-- Section: Design Block -->
    <section class="">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="mb-5 pb-3">Contacto</h3>
        </div>
      </div>
      <div class="row gx-md-5">
        <div class="col-md-6 col-xl-5 position-relative ms-auto">
          <div class="pane-content">
            <p>No hay nada más importante para nosotros que nuestros clientes, estamos a su servicio.</p>
            <p>Mendoza Toledo y Asociados<br>
              Dirección 1: <br><br>
              Avenida 5, No.319 planta alta, Granjas San Antonio, Ciudad de México<br>
              09070 Ciudad de México, CDMX<br>
              <br><br>
              Dirección 2: <br><br>
              B. Gabón 77, Bosques de Aragon, Nezahualcóyotl<br>
              57170 Nezahualcóyotl, MEX
            </p>
            <p>Teléfono: <a href="tel:+525557940696">57940696</a><br><br>
              E-mail: <a href="contacto@corporativo-mta.com"></a></p>
          </div>
          <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
        </div>
        <div class="col-md-6 col-xl-5 position-relative me-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="form-outline" data-mdb-input-init>
                <input type="text" id="nombre" class="form-control mb-4" />
                <label class="form-label" for="nombre">Nombre</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-outline" data-mdb-input-init>
                <input type="email" id="email" class="form-control mb-4" />
                <label class="form-label" for="email">Email</label>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4" data-mdb-input-init>
            <textarea class="form-control" id="mensaje" rows="4"></textarea>
            <label class="form-label" for="mensaje">Mensaje</label>
          </div>
          <button class="btn btn-outline-dark btn-rounded" type="submit" data-mdb-ripple-init>Enviar</button>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose only -->