<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Servicios Contables y Fiscales</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
<div class="modal-body">
    <div class="field-item even">
        <p>Enfocados en todos los cambios en el ámbito fiscal y contable, así como los nuevos procesos de fiscalización
            que las autorizadas actualmente ejercen sobre los contribuyentes, nuestras áreas contables y fiscales se
            enfocan en asesorar a nuestros clientes para que cada uno de ellos cumpla a cabalidad en tiempo y forma con
            sus obligaciones fiscales y contables; de esta forma también los accionistas o personas físicas obtengan
            información financiera de calidad, así como, que se encuentren tranquilos&nbsp; en el exacto cumplimiento de
            sus obligaciones.</p>
        <p><strong>&nbsp;Nuestros servicios de Asesoría Contable y Fiscales:</strong></p>
        <ol>
            <li>&nbsp;Elaborar de forma externa la contabilidad de sus clientes</li>
            <li>Contestamos de forma escrita, las consultas que el cliente nos plantea sobre tópicos contables o
                fiscales.</li>
            <li>Preparamos estrategias a la medida de nuestros clientes para establecer, dentro de las posibilidades
                legales, una carga tributaria justa para el cliente. Entre los estudios que realizamos destacan:
                planeación fiscal y financiera de una nueva empresa&nbsp; o persona física, reorganizaciones, y
                reprocesos.</li>
            <li>Revisamos los cálculos efectuados y, en su caso, preparamos las declaraciones de IVA, ISR y demás
                impuestos.</li>
            <li>Desarrollamos e implementamos planeaciones estratégicas en las compañías de nuestros clientes, al través
                de un correcto desarrollo de presupuestos, con las clara intención de lograr una óptima administración
                de efectivo.</li>
            <li>Estudios sobre precios de transferencia.&nbsp;</li>
        </ol>
    </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>
