

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Servicios Auditoria</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="field-item even">
        <p lang="es-TRAD">En los&nbsp; servicios de Auditoría, nos ocupamos&nbsp; en comprender con precisión las
            operaciones de nuestros clientes, con base en ello logramos&nbsp; aconsejarles respecto de los cambios en la
            normatividad contable y fiscal, con la clara intención de ayudarlos a conseguir los mejores resultados
            financieros.</p>
        <p lang="es-TRAD">Los servicios ofrecidos en este segmentos son:</p>
        <ul type="disc">
            <li lang="es-TRAD">Auditoría de estados financieros.</li>
        </ul>
        <ul type="disc">
            <li lang="es-TRAD">Auditoría de estados financieros para efectos fiscales.</li>
        </ul>
        <ul type="disc">
            <li lang="es-TRAD">Emisión de dictámenes de Seguridad Social, (IMSS e INFONAVIT)</li>
        </ul>
        <ul type="disc">
            <li lang="es-TRAD">Emisión de dictámenes de impuestos locales.</li>
        </ul>
        <ul type="disc">
            <li lang="es-TRAD">Emisión de dictámenes por enajenación de acciones y partes sociales.</li>
            <li lang="es-TRAD">Revisión y diseño de sistemas de control interno.</li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>