<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Servicios Fiscales</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="field-item even">
        <p lang="es-TRAD">Las leyes fiscales en México están en constante cambio, así como el incremento de la fiscalización
            hacia los contribuyentes, sin la asesoría adecuada se pueden tener problemas con las autoridades fiscales,
            derivado de esto, nos enfocamos en comprender a la perfección la situación fiscal de cada uno de nuestros
            clientes, de esta forma podemos ofrecer diversos servicios, que maximicen los recursos de nuestros clientes.</p>
        <p lang="es-TRAD"><strong>Nuestros Servicios:</strong></p>
        <ul type="disc">
            <li lang="es-TRAD">Impuestos Internacionales.</li>
            <li lang="es-TRAD">Impuestos Federales.</li>
            <li lang="es-TRAD">Impuestos Locales.</li>
            <li lang="es-TRAD">Contribuciones de seguridad social.</li>
            <li lang="es-TRAD">Consultoría y asesoría fiscal</li>
            <li lang="es-TRAD">Gestión ante autoridades Fiscales&nbsp;</li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>

